/* .header {
  border: 1px solid;
  display: flex;
  justify-content: space-between;
  padding: 0px 50px 0px 50px;
}

.logo {
  width: 90px;
}

.nav-items > ul {
  display: flex;
}

.nav-items > ul > li {
  display: flex;
  list-style-type: none;
  padding: 10px;
  margin: 10px;
}

.res-container {
  display: flex;
  flex-wrap: wrap;
}

.res-card {
  padding: 5px;
  background-color: #f0f0f0;
  width: 200px;
  margin: 5px;
}

.res-card:hover {
  border: 1px solid black;
  cursor: pointer;
  border-radius: 10px;
}

.res-logo {
  width: 100%;
}

.filters {
  padding: 10px;
  display: flex;
}
.search {
  margin-right: 10px;
}

.shimmer-container {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
}

.shimmer-card {
  padding: 5px;
  background-color: #e5e4e4;
  width: 200px;
  height: 400px;
  margin: 5px;
}

.login-btn{
    padding: 0 20px;
}

.user-card{
  padding: 10px;
  border: 1px solid
} */



@tailwind base;
@tailwind components;
@tailwind utilities;